body {
    background: #eeeeee;
}

a:hover {
    text-decoration: none;
    color: #212529;
}

a {
    color: #53595f;
}

header {
    background-color: #343434;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 8px #000000;
}

header a {
    color: #ffffff;
    text-decoration: none!important;
}



h1, h2, h3, h4, input, .TODOText {
    font-family: 'Ubuntu';
    font-weight: 700;
    margin-right: 10px;
}

label {
    color: #777e86;
    margin-bottom: 0px;
}

.Main {
    margin-top: 30px; 
}

.Row {
    padding: 5px; 
    margin-bottom: 10px; 
}

.TODO {
    /* width: 100%; */
    /* margin: 5px; */
    margin-bottom: 20px;
    padding: 20px; 
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px -6px 6px #FFFFFF;
    border-radius: 20px;
    background: #eeeeee;
}

.newTODO {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px -6px 6px #FFFFFF;
    border-radius: 20px;
    padding: 20px; 
    margin-top: 20px;
    background: #eeeeee;
}

.TODO:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), -10px -10px 10px #FFFFFF;

}

.TODOText {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px; 
}

.Deadline{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin-bottom: 15px; 
    color: #666666;

}

.Progress {
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-between;
}

.ProgressNum {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}

.ProgressBar {
    position: relative;
    width: 86%;
    height: 12px;
    margin-bottom: 15px; 
}

.ProgressBarGrey {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 100%;
    background: #C4C4C4;
    border-radius: 6px;
}

.ProgressBarBlue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    float: left;
    height: 12px;
    width: 68%;
    background: #5BA6FF;
    border-radius: 6px;
}

.Buttons {
    display: flex; 
    justify-content: space-between;
}

.Buttons button {
    text-decoration: none;
    cursor: pointer;
    text-align: center; 
    all: unset;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px; 
    background: #eeeeee;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF;
    border-radius: 20px;
}

.Button {
    text-decoration: none;
    cursor: pointer;
    text-align: center; 
    all: unset;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px; 
    background: #eeeeee;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF;
    border-radius: 20px;
}

.Buttons button:hover {
    height: 34px;
    margin-top: -2px;
    margin-bottom: -2px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25), -8px -8px 8px #FFFFFF;
}

.Buttons button:active {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF;
}

.DeleteButton{
    color: red;
}

.Add {
    cursor: pointer;
    text-align: center; 
    color: #c0c0c0;
}

.Add:hover {
    color: #53595f;
    text-decoration: none;
}

.Add:hover #plus {
    fill: #53595f;
}

/*      newTODO  /  editTODO     */



.Subtask {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px -6px 6px #FFFFFF;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 25px; 
    background-color: #eeeeee;
    position: relative; 
}

.X {
    position: absolute;
    right: 3px;
    top: 3px; 
}

.X:hover path{
    fill: #000000; 
}

input {
    background-color: #ffffff;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.25), inset -3px -3px 3px #FFFFFF;
    border-radius: 15px; 
    font-size: 15pt;
    border: none;
    padding-left: 10px;
    padding-right: 10px; 
}

.SubTasks {
    margin-top: 50px; 
}

#description {
    font-size: 30px; 
    font-family: "Ubuntu";
}

input[type=text], input[type=textarea]{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;  

    margin-bottom: 10px; 
}

input[type=textarea]{
    border-radius: 20px;
}


input[type=submit]{
    text-decoration: none;
    cursor: pointer;
    text-align: center; 
    all: unset;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-right: 15px; 
    background: rgb(150, 248, 159);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #FFFFFF;
    border-radius: 20px;
}

.Submit {
    display: felx; 
}

.RangeContainer {
    text-align: center;
    position: relative;
    height: 40px;
    width: 100%;
    display: block; 
}

.RangeOutput {
    float: left; 
    position: absolute;
    width: 100%;
    pointer-events:none;
} 

.RangeInput {
    position: absolute; 
    left: 5px;
    right: 5px;
}

input[type=range]{
    box-shadow: none;
    padding: 0px;
}

.Slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.Slider:hover {
    opacity: 1;
}
  
.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%; 
    background: #5BA6FF;
    cursor: pointer;
}
  
.Slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 100%; 
    background: #5BA6FF;
    cursor: pointer;
}